/* START header-------------*/
$text-menu-parent-size: 14px;
$text-menu-parent-color: $primarylight; // used
$text-menu-child-color: $primarylight;
$text-menu-parent-spacing: 0.57px;
$active-menu-color: $primary;
$bg-menu-parent: #ffffff;
$bg-menu-child: #ffffff;
$bg-menu-grandchild: #ffffff;
$btn-border-radius: 60px;


body.header_transparent:not(.fixed){
  .header{
    background-color: transparent;
    .navbar-brand{
      .navbar-brand-transparent{
        display: inline;
      }
      .navbar-brand-desktop{
        display: none;
      }
    }
  }
  @media (min-width: 1200px){
    .header{
      box-shadow: 0px 4px 11px rgba(0, 0, 0, 0);
      #NavDropdown ul.nav > li:not(.btn-menu){
        > a{
          color: $white !important;
        }
      }
      .header-top-link > a{
        color: $white;
      }
      .btn-menu-1{
        border-color: $white !important;
        a{
          color: $white !important;
        }
      }
      #open-search{
        &::after{
          background-image: url('../images/icons/icon-search-white.svg') !important;
        }
      }
    }
  }
}
body.header_transparent{
  padding-top: 0 !important;
}


header.header{
  @include font1;
  background: $white;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 1030;
  p{
    margin-bottom: 0 !important;
  }
  #NavDropdown ul.nav > li > a, .mobile-padding{
    z-index: 2;
  }
}   
 /*END header-------------------------------------*/
// :root[user-agent*="Windows"]{
//   //background-color: #000000;
// }
.header-top{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-basis: 100%;
  font-size: 0;
  padding: 36px 0 28px 0;
  position: relative;
  .column-heder-top{
    display: flex;
    justify-content: flex-end;
    padding: 0 0 0 20px;
    position: relative;
    &.tablet-view{
      display: none;
      @media (max-width: 1199.98px){
        display: flex;
      }
    }
    &:last-child{
      .header-top-link{
        &::after{
          content: none;
        }
      }
    }
    .header-top-link{
      position: relative;
      a{
        @include font1;
        color: $primarylight;
        font-size: 16px;
        font-stretch: normal;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.4148px;
        line-height: 1.2;
        position: relative;
        text-transform: none;
        padding-bottom: 2px;
        transition: all 0.4s ease;
        text-decoration: none;
        &:hover{
          text-decoration: none !important;
        }
      }
    }  
    &.search-menu{
      margin-left: 5px;
      #open-search{
        @include resize(1,1);
        align-items: center;
        background-color: transparent;
        border-radius: 50%;
        border: none;
        display: flex;
        font-weight: normal;
        height: 30px;
        padding: 0;
        position: relative;
        text-align: center;
        transition: all 0.4s ease;
        width: 30px;
        &::after{
          content: "";
          background-image: url('../images/icons/icon-search.svg');
          background-position: center;
          background-repeat: no-repeat;
          @include center(-50%, -50%);
          bottom: unset;
          font-size: 0;
          height: 21px;
          left: 50%;
          padding: 0 !important;
          position: absolute;
          top: 50%;
          transition: all 0.4s ease;
          width: 23px;
          z-index: 2;
        }
        span.label{
          @include font1;
          color: $white;
          font-size: 12px;
          font-stretch: normal;
          font-style: normal;
          font-weight: normal;
          letter-spacing: 0.4px;
          line-height: 1;
          margin-right: 6px;
          text-align: center;
          text-transform: none;
        }
        &:hover, &:focus, &:active{
          @include resize(1.2,1.2);
          box-shadow: none;
          outline: none !important;
          transition: all 0.4s ease;
          // &::after {
          //   background-image: url('../images/icons/icon-search-hover.svg');
          // }
          // &::before {
          //   background-color: #c4c4c4;
          // }
        }
      }
    }
  }
}
.col-middle{
  height: 100%;
  flex-basis: calc(100% - 280px);
}
.height-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: relative;
  width: 100%;
  padding: 0 0 35px 20px;
}
 /*START Main Navigation------------------------------------------*/
 .navbar, .navbar.navbar-expand-xl{
  padding: 0;
  align-items: stretch;
  justify-content: center;
   .navbar-header{
     display: flex;
     margin-right: 15px;
     overflow: hidden;
     padding: 0;
     position: relative;
     .navbar-brand{
       align-self: center;
       background-color: transparent;
       background-position: left center;
       background-repeat: no-repeat;
       background-size: contain;
       border-radius: none;
       display: block;
       margin: 20px 0;
       overflow: hidden;
       padding: 0 !important;
       position: relative;
       transition: all 0.4s ease;
       width: 100%;
       img{
         //max-width: 100%;
         transition: all 0.4s ease;
       }
       .navbar-brand-transparent{
         display: none;
       }
     }  
     .mobile-view{
       display: none;
       @media (max-width: 1199.98px){
         display: block;
       }
     }
   }
 }
//#NavDropdown ul#menu-main-menu > li > a{
//  mix-blend-mode: difference;
//}
#NavDropdown{
  font-size: 1rem;
  padding: 0;
  text-align: center;
  align-items: center;  
  justify-content: flex-end; 
  ul.nav{
    margin: 0;
    justify-content: end;
    align-items: center;
    flex-flow: row nowrap;
    > li, > li.open{
      display: inline-block;
      float: none;
      vertical-align: middle;
      &:hover,&:focus,&:active{
        a::after{
          width: calc(100% - 29px) !important;
          opacity: 1;
        }
      }
      &:last-child{
        ul.dropdown-menu{
          transform: translate(0,0) !important;
          right: 0;
          left: unset !important;
        }
      }
      &.only-mobile{
        display: none;
      }
      &.active > a{
        background: transparent;
        //color: $primary;
        text-decoration: none;
        font-weight: 700;
        &:hover,&:focus,&:active{
          text-decoration: none; 
        }
        &::after{
          width: calc(100% - 29px) !important;
          opacity: 1;
        }
      }
      a{
        @include font1;
        background: transparent;
        border-radius: 0;
        border: none;
        color: $text-menu-parent-color;
        display: block;
        font-size: $text-menu-parent-size;
        font-stretch: normal;
        font-style: normal;
        font-weight: 500;
        letter-spacing: $text-menu-parent-spacing;
        line-height: 1;
        padding: 0 29px 8px 0;
        position: relative;
        text-align: left;
        text-shadow: none;
        text-transform: none;
        transition: all 0.4s ease;
        white-space: normal;
        &::before{
          content: none;
        }
        &::after{
          content: "";
          background: linear-gradient(90deg, #046BAC 0%, #BAD37E 102.13%);
          border-radius: 0;
          border: none;
          bottom: 0;
          left: 0;
          margin: 0 !important;
          position: absolute;
          right: 0;
          opacity: 0;
          transition-property: width, opacity;
          transition-duration: .4s, .4s;
          transition-timing-function: ease, ease;
          width: 0; height: 3px;
          z-index: 5;
        }
        &:hover,&:focus,&:active{
          text-decoration: none; 
          //color: $white;
          outline: none;
          &::after{
            width: calc(100% - 29px) !important;
            opacity: 1;
          }
        }
      }
      &.btn-menu-1{
        background-color: transparent;
        border: 2px solid $primarylight;
        box-shadow: none;
        font-size: $btn_font_size1 !important;
        font-stretch: normal !important;
        > a{
          color: $primarylight;
        }
      }
      &.btn-menu-2{
        background-color: $primarylight;
        border: 2px solid $primarylight;
        margin-left: 11px;
        > a{
          color: $white;
        }
      }
      &.btn-menu-1,
      &.btn-menu-2{
        border-radius: $btn-border-radius;
        padding: 0 !important;
        transition: all 0.4s ease;
        cursor: pointer;
        flex: 0 0 auto;
        > a{
          border-radius: $btn-border-radius;
          border: none;
          @include font1;
          font-size: 14px;
          font-stretch: normal;
          font-style: normal;
          font-weight: 600;
          letter-spacing: $btn_letter-spacing1 !important;
          line-height: $btn_line_height !important;
          padding: 11px 30px;
          text-align: center;
          text-transform: capitalize;
          transition: all 0.4s ease;
          overflow-wrap: break-word;
          &::after{
            content: none;
          }
        }
        &:hover{
          background-color: $tertiarylight !important;
          border-color: $tertiarylight !important;
          a{
            color: $primary !important;
          }
        }
        @media (max-width: 1399.98px){
          flex-shrink: 1;
        }
      }
      ul{
        background: $bg-menu-child;
        border:none;
        display: none;
        height: unset;
        left: 0;
        min-height: 0;
        padding: 0 !important;
        text-align: left;
        li{
          display: block;
          margin: 0 !important;
          width: 225px;
          &.dropdown{
            > a{
              &::before{
                content: "" !important;
                background: transparent url('../images/icons/dropdown-arrow-menu.svg') no-repeat center;
                background-size: contain;
                border: none;
                height: 7px;
                opacity: 1;
                position: absolute;
                top: 45%;
                right: 14px;
                transition: 0.4s;
                width: 5px;
              }
              &:hover{
                &::before{
                  background: transparent url('../images/icons/dropdown-arrow-menu-white.svg') no-repeat center !important;
                }
              }
            }
          }
          &:first-child a{
            border-top-left-radius: 0 !important;
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
          }
          &:last-child {
            a{
              border-top-left-radius: 0;
              border-top-right-radius: 0;
              border-bottom-right-radius: 0 !important;
              border-bottom-left-radius: 0 !important;
              &::before,&::after{
              content: none !important;
              }
            }
          }
          &.active > a{
            background: $secondary;
            color: $white !important;
            font-weight: 700 !important;
              &::before,&::after{
              content: none !important;
            }
          }
          &::before,&::after{
            content: none !important;
          }
          a{
            border: none;
            color: $text-menu-child-color !important;
            font-family: 'Open Sans', sans-serif !important;
            font-size: 14px !important;
            font-stretch: normal;
            font-style: normal;
            font-weight: 400 !important;
            letter-spacing: 0.57px !important;
            line-height: 1.28;
            margin-top: 0;
            padding: 14px 45px 14px 30px;
            text-align: left;
            text-transform: none;
            &::before,&::after{
              content: none !important;
            }
            &:hover,&:focus,&:active{
              background-color: $secondary !important;
              color: $white !important;
              font-weight: 700 !important;
              &::after{
                width: 0;
              }
            }
          }
          &:last-child{
            ul{
              left:100%;
              top: 0;
              right: auto;
            }
          }
          ul{
            background-color: $bg-menu-grandchild;
            border-radius: 0;
            margin-top: 0;
            li{
              a{
                font-family: 'Open Sans', sans-serif !important;
                font-size: 14px !important;
                font-weight: 400;
                letter-spacing: normal;
                text-align: left;
                &:hover{
                  background-color: $grey !important;
                  color: $primarylight !important;
                  font-weight: 700;
                }
              }
            }
          }
        }
        &.menu-hide{
          display: none;
        }
      }
    }
  }
}
.display_dropdown{
  border-radius: 0;
  li:first-child::before{
    transition-property: top, opacity;
    transition-duration: .1s, .1s;
    transition-timing-function: ease, ease-out;
    transition-delay: .1s, 0s; 
    top: 0 !important;
    opacity: 1 !important;
  }
}
.dropdown-menu{
  @include center(0,0);
  display: block;
  left: 50%;
  margin: 0 auto; 
  padding: 0px;
  position: absolute;
  border-radius: 0 !important;
  .dropdown-menu{
    border-radius: 0;
    border: none !important;
    box-shadow: none;
    display: block;
    left: 100% !important;
    top: 0;
  }
}
.dropdown-btn{
  display: none; 
}
.dropdown-btn{
  //background: transparent url('../images/icons/child-open.svg') no-repeat center;
  background-size: 8px;
  border-radius: 0;
  border: none;
  color: $text-menu-parent-color;
  font-size: 15px;
  height: 45px;
  position: absolute;
  right: 0;
  top: 4px;
  width: 45px;
  span{
    content: "\f061";
  }
  .fa-caret-right.open::before {
    content: "\f0d7";
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    transition: all 0.4s ease;
  }
}
.dropdown-toggle::after{
  content: none;
}
.dropdown-toggle{
  .dropdown-menu{
    &::before{
      content: "" !important;
      background: transparent url('../images/icons/dropdown-arrow-menu.svg') no-repeat center;
      background-size: contain;
      border: none;
      height: 10px;
      opacity: 1;
      position: absolute;
      top: 40%;
      right: 6px;
      transition: 0.4s;
      width: 10px;
    }
  }
}

@include mediaqueries(1200max) {
  
  section.header-navigation{
    .container, .container-fluid{
      width: 100vw;
      max-width: 100%;
      padding: 0 !important;
      margin: 0 !important;
    }
    .navbar{
      .navbar-header{
        background-color: transparent;
        display: flex;
        flex: 0 0 100%;
        justify-content: space-between;
        margin-right: 0 !important;
        position: relative;
        z-index: 1050;
        .navbar-brand{
          margin: 10px 0 10px 15px;
          width: auto;
          img{
            width: 130px !important;
            height: 41px !important;
          }
        }
        .navbar-toggler{
          margin-right: 15px !important;
          border: none !important;
          box-shadow: none;
          .navbar-toggler-icon{
            background-image: url('../images/icons/menu-icon.svg');
            background-size: contain;
            width: 34px; height: 34px;
          }
          &:focus{
            outline: none;
            box-shadow: none;
          }
          &.active{
            .navbar-toggler-icon{
              background-image: url('../images/icons/close-menu.svg') !important;
              background-size: 20px;
            }
          }
        }
        .mobile-view{
          display: flex;
          align-content: center;
          align-items: center;
          margin-left: auto;
          margin-right: 11px;
          &.active{
            opacity: 0;
          }
        }
      }
      a.btn-donate{
        @include font1;
        background-color: $primary;
        border-radius: $btn-border-radius;
        color: #ffffff !important;
        font-size: 12.5px;
        font-stretch: normal;
        font-style: normal;
        font-weight: 700 !important;
        letter-spacing: -0.11px !important;
        line-height: 1;
        margin-left: 10px;
        min-height: 44px;
        vertical-align: middle;
        padding: 16px 30px 15px;
        position: relative;
        text-align: center;
        text-decoration: none !important;
        text-transform: none;
        transition: all 0.4s ease;
        &::after{
          content: none;
        }
      }
    }
    #NavDropdown {
      background: transparent;
      display: none;
      height: 100vh;
      padding: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: width .3s ease-in-out;
      width: 0px;
      z-index: 1040;
      .height-wrap{
        flex-flow: wrap row !important;
        background-color: $white;
        align-items: flex-start !important;
        align-content: flex-start;
        justify-content: flex-start !important;
        padding: 70px 0px 45px 0px;
        margin-left: auto;
        overflow-y: scroll;
        height: 100vh;
        width: 370px;
        @media(max-width: 575.98px){
          width: 100vw;
        }
        &::-webkit-scrollbar {
          width: 8px;
        }
        &::-webkit-scrollbar-track {
          -webkit-border-radius: 0;
          border-radius: 0;
        }
        &::-webkit-scrollbar-thumb {
          -webkit-border-radius: 0;
          border-radius: 0;
          background: rgba($color: $grey, $alpha: 0.4); 
        }
        &::-webkit-scrollbar-thumb:window-inactive {
          background: rgba($color: $grey, $alpha: 0.2); 
        }
        &::before{
          content: none;
        }
        .header-top{
          background-color: transparent;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          margin-top: 35px;
          order: 1;
          padding: 0 15px 0 30px;
          width: 100%;
          &::after, &::before{
            content: none;
          }
          .column-heder-top {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            flex: 0 0 100%;
            justify-content: flex-start;
            margin: 0 0 10px;
            padding: 0;
            text-align: left;
            &::after, &::before{
              content: none;
            }
            .tablet-show{
              margin-top: 20px;
              text-align: center;
              .row-social{
                text-align: center;
                justify-content: center;
                .title{
                  @include font1;
                  font-size: 14px;
                  font-weight: bold;
                  font-stretch: normal;
                  font-style: normal;
                  line-height: 1.43;
                  letter-spacing: normal;
                  text-align: center;
                  color: #001f39;
                  display: block;
                }
              }
            }
            .header-top-link{
              display: flex;
              flex-direction: column;
              flex-wrap: wrap;
              justify-content: flex-start;
              margin-right: auto;
              padding: 0;
              text-align: left;
              width: 100%;
              a{
                color: $primarylight;
                display: inline-table;
                margin-bottom: 0;
                margin-left: 0;
                padding-top: 10px;
                padding-bottom: 10px;
              }
            }
          }
        }
        #open-search{
          align-self: flex-start;
          flex: 0 1 auto;
          margin: 0 auto;
          padding-bottom: 10px;
          padding-left: 0;
          padding-top: 10px;
          position: relative;
          &::after{
            background-image: url('../images/icons/icon-search.svg') !important;
          }
        }
        ul.nav{
          align-content: flex-start;
          display: flex;
          flex-flow: row wrap;
          flex: 0 1 100%;
          justify-content: flex-start;
          width: 100%;
          li{
            display: block;
            width: 100%;
            position: relative;
            margin: 0;
            a{
              @include font1;
              color: $primarylight !important;
              display: block;
              font-size: 14px;
              font-stretch: normal;
              font-style: normal;
              font-weight: 600;
              letter-spacing: normal;
              line-height: 1;
              padding: 18px 70px 18px 30px;
              text-decoration: none !important;
              text-align: left;
              @media (max-width: 575.98px){
                padding: 18px 50px 18px 30px;
              }
              &::before, &::after{
                content: none;
              }
            }
            button.dropdown-btn{
              background-color: transparent;
              color: $primarydark !important;
              display: block;
              font-size: 9px;
              height: 40px;
              padding: 0;
              position: absolute;
              right: 15px;
              top: 5px;
              width: 40px;
              z-index: 5;
              @media (max-width: 575.98px){
                right: 5px;
              }
              &::after{
                content: none;
              }
              span{
                font-size: 9px;
                &.open{
                  @include rotate(90deg);
                }
              }
              &:active,&:focus{
                outline: none;
              }
            }
            &.current-menu-ancestor.active, &.current_page_item {
              background-color: $primarydark;
              > a{
                color: $white !important;
              }
              > button.dropdown-btn{
                color: $white !important;
                //background: transparent url('../images/icons/dropdown-arrow-white.svg') no-repeat center !important;
              }
            }
            &.only-mobile{
              display: block;
              &::after {
                content: '\f015';
                font-family: "Font Awesome 5 Free"; 
                font-weight: 900;
                display: inline-block;
                font-variant: normal;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                /*--adjust as necessary--*/
                color: $primarydark;
                position: absolute;
                font-size: 16px;
                right: 12px;
                top: 12px;
              }
            }
            &.btn-menu-1 a{
              background-color: transparent !important;
              color: $primarylight !important;
              border: 2px solid $primarylight !important;
            }
            &.btn-menu-2 a{
              background-color: $primarylight !important;
              color: $white !important;
              border: 2px solid $primarylight !important;
            }
            &.btn-menu-1,&.btn-menu-2{
              display: flex;
              align-self: flex-start;
              background-color: transparent !important;
              border: none !important;
              //display: inline-block;
              margin-top: 10px;
              margin-bottom: 10px;
              text-align: left;
              a{
                display: inline;
                font-size: 14px;
                font-weight: 600;
                margin: 0 30px;
                padding: 9px 30px !important;
                text-align: center;
                width: 100%;
              }
              &:hover,&:focus,&:active{
                background-color: transparent;
                > a{
                  text-decoration: none;
                  color: $primary !important;
                  background-color: $tertiarylight !important;
                  border-color: $tertiarylight !important;
                }
              }
            }
            ul{
              background-color: $white;
              li{
                width: 100%;
                //border-bottom: 1px solid rgba($color: $primary, $alpha: 0.3) !important;
                &::after{
                  content: "" !important;
                }
                &:last-child{
                  border-bottom: 0;
                }
                button.dropdown-btn{
                  top: 5px;
                  color: $primarylight !important;
                }
                &.menu-item-has-children {
                  background-color: $secondary;
                  a{
                    color: $white !important;
                  }
                  .dropdown-btn{
                    color: $white !important;
                  }
                }
                &.active{
                  background-color: $secondary;
                  a{
                    color: $white !important;
                    font-weight: normal;
                  }
                }
                a{
                  background-color: transparent;
                  color: $primarylight !important;
                  font-size: 14px !important;
                  font-stretch: normal;
                  font-style: normal;
                  font-weight: 600 !important;
                  letter-spacing: normal;
                  line-height: 1.28;
                  padding: 20px 60px !important;
                  width: 100% !important;
                  &::before, &::after{
                    content: none !important;
                  }
                  &:hover{
                    background-color: $secondary !important;;
                    color:  $white !important;
                  }
                }
                ul{
                  background-color: $white;
                  li{
                    a{
                      color: $primarylight;
                      font-size: 14px;
                      letter-spacing: normal;
                      line-height: 1.28;
                      padding: 20px 60px 20px 75px !important;
                      font-weight: 500 !important;
                      text-align: left;
                      &:hover{
                        color: $primarylight !important;
                        background-color: transparent !important;
                      }
                      // &::after {
                      //   width: calc(100% - 20px) !important;
                      //   right: 0;
                      //   left: unset;
                      // }
                    }
                  }
                }
              }
            }
          }
        }
        .dropdown-toggle::before {
          content: none !important;
        }
      }
    }
  }
}

@include mediaqueries(576max) {
  section.header-navigation .navbar .navbar-header .navbar-brand {
    width: 153px;
    &.active{
      img.navbar-brand-desktop{
        opacity: 0;
        display: none;
      }
      img.navbar-brand-fixed{
        display: block;
        opacity: 1;
      }
    }
    img{
      object-fit: contain;
      width: 100% !important;
      height: 100%;
      transition-delay: .8s;
      transition-duration: 0.4s;
      transition-timing-function: ease-in-out;
    }
  }
  section.header-navigation .navbar .navbar-header .mobile-view{
    display: none;
    // margin-right: 0;
    // a.btn-donate{
    //   padding-right: 20px;
    //   padding-left: 20px;
    // }
  }
  section.header-navigation .navbar .navbar-header .navbar-toggler{
    margin-right: 0 !important;
    .navbar-toggler-icon{
      height: 23px;
      width: 23px;
    }
  }
  section.header-navigation .navbar .navbar-header .navbar-brand {
    width: 153px;
  }
}
/*END Main Navigation------------------------------------- */